<html layout:decorator="views/layout" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <body>
        <div layout:fragment="content">
            <div class="col-lg-3"
                data-angular-treeview="true"
                data-tree-id="groepTree"
                data-tree-model="groepTreeData"
                data-node-id="groep.pk_id"
                data-node-label="groep.naam"
                data-node-children="subGroep">
            </div>
            <div class="col-lg-6">
                <form class="col-lg-2" ng-submit="saveGroep()">
                    <input class="col-lg-12 btn btn-primary" type="submit" value="Save"/>
                </form>
                <form ng-show="groep.pk_id !== ''" class="col-lg-2" ng-submit="deleteGroep()">
                    <input class="col-lg-12 btn btn-primary" type="submit" value="Delete"/>
                </form>
            </div>
            <div class="col-lg-6 well">
                <div class="form-group col-lg-12">
                  <label for="inputNaam" class="col-lg-2 control-label">Naam</label>
                  <div class="col-lg-4">
                    <input class="form-control" id="inputNaam" ng-model="groep.naam" placeholder="Naam" type="text"/>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <label for="inputOmschrijving" class="col-lg-2 control-label">Omschrijving</label>
                  <div class="col-lg-4">
                    <input class="form-control" id="inputOmschrijving" ng-model="groep.omschrijving" placeholder="Omschrijving" type="text"/>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <label for="inputNegatief" class="col-lg-2 control-label">Negatief</label>
                  <div class="col-lg-4">
                    <input id="inputNegatief" ng-model="groep.negatief" type="checkbox"/>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <label for="inputNegatief" class="col-lg-2 control-label">Verberg Groep in Grahpiek</label>
                  <div class="col-lg-4">
                    <input id="inputNegatief" ng-model="hide_groep" type="checkbox"/>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <label for="inputNegatief" class="col-lg-2 control-label">Public Groep</label>
                  <div class="col-lg-4">
                    <input id="inputNegatief" ng-model="public_groep" type="checkbox"/>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                    <label for="inputClosed" class="col-lg-2 control-label">Closed</label>
                    <div class="col-lg-4">
                        <input id="inputClosed" ng-model="groep.closed" type="checkbox"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <table st-safe-src="groepen" st-table="emptyGroepen" class="table table-striped table-hover ">
                <thead>
                  <tr>
                      <th></th>
                      <th st-sort="hoofdGroep">Hoofdgroep</th>
                      <th st-sort="naam">Naam</th>
                      <th st-sort="omschrijving">Omschrijving</th>
                      <th st-sort="negatief">Negatief</th>
                      <th st-sort="personen">Personen</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="groep in emptyGroepen">
                            <td><a th:href="@{/admin/nieuwGroep/{{groep.pk_id}}}">Edit</a></td>
                            <td>{{groep.hoofdGroep.naam}}</td>
                            <td>{{groep.naam}}</td>
                            <td>{{groep.omschrijving}}</td>
                            <td>{{(groep.negatief === 1 ? 'Ja' : 'Nee')}}</td>
                            <td>{{groep.persoon.voornaam}} {{groep.persoon.naam}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-center">
                            <div st-pagination="" st-items-by-page="100" st-displayed-pages="100"></div>
                        </td>
                    </tr>
                </tfoot>
                </table>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                app.controller("fController", function($scope, $http, usSpinnerService) {
                    $http.get(/*[[@{/json/whoami}]]*/).success( function(data){
                        data.md5_password = "";
                        $scope.registeredPersoon = data;
                    });

                    $http.get(/*[[@{/json/personen}]]*/).success( function(data){
                        $scope.personen = data;
                    });

                    $scope.$watch( 'groepTree.currentNode', function( newObj, oldObj ) {
                        if( $scope.groepTree && angular.isObject($scope.groepTree.currentNode) ) {
                            $scope.groep.hoofdGroep = $scope.groepTree.currentNode.groep;
                        }
                    }, false);

                    var pk_id = /*[[${pk_id}]]*/;
                    if (pk_id !== null){
                        var url = /*[[@{/json/groepen/}]]*/;
                        $http.get(url + pk_id).success( function(data){
                            $scope.groep = data;

                            if ($scope.groep.negatief === 1){
                                $scope.groep.negatief = true;
                            } else {
                                $scope.groep.negatief = false;
                            }

                            if ($scope.groep.codeId === "INTER_REKENING"){
                                $scope.hide_groep = true;
                            } else {
                                $scope.hide_groep = false;
                            }

                            if ($scope.groep.publicGroep === 1){
                                $scope.public_groep = true;
                            } else {
                                $scope.public_groep = false;
                            }

                            if ($scope.groep.hoofdGroep === null){
                                $http.get(/*[[@{/json/groepTree}]]*/).success( function(data){
                                    $scope.groepTreeData = data;
                                });
                            }
                            else {
                                var url = /*[[@{/json/groepTree/}]]*/;
                                $http.get(url + $scope.groep.hoofdGroep.pk_id).success( function(data){
                                    $scope.groepTreeData = data;
                                });
                            }
                            var url2 = /*[[@{/json/subGroepen/}]]*/;
                            $http.get(url2 + pk_id).success( function(data){
                                $scope.groepen = data;
                            });
                        });
                    } else {
                        $scope.groep = {
                            pk_id: null,
                            hoofdGroep: null,
                            naam: "",
                            omschrijving: "",
                            negatief: 0,
                            persoon: null,
                            codeId: null
                        };

                        $http.get(/*[[@{/json/groepTree}]]*/).success( function(data){
                            $scope.groepTreeData = data;
                        });
                    }

                    $scope.saveGroep = (function(){
                        if ($scope.groep.persoon === null){
                            $scope.groep.persoon = $scope.registeredPersoon;
                        }

                        if ($scope.registeredPersoon.pk_id !== $scope.groep.persoon.pk_id){
                            bootbox.alert("You are not allowed to change this group because you are not the owner!", function(){
                                try {
                                    var url = /*[[@{/admin/nieuwGroep/}]]*/;
                                    $(location).attr('href',url + $scope.groep.hoofdGroep.pk_id);
                                } catch(ex){
                                    $(location).attr('href',/*[[@{/admin/groepen}]]*/);
                                }
                            });
                        } else {
                            if ($scope.groep.negatief === true){
                                $scope.groep.negatief = 1;
                            } else {
                                $scope.groep.negatief = 0;
                            }

                            if ($scope.hide_groep === true){
                                $scope.groep.codeId = "INTER_REKENING";
                            } else {
                                $scope.groep.codeId = null;
                            }

                            if ($scope.public_groep === true){
                                $scope.groep.publicGroep = 1;
                            } else {
                                $scope.groep.publicGroep = 0;
                            }

                            $http.post(/*[[@{/json/saveGroep}]]*/, $scope.groep).success( function() {
                                try {
                                    var url = /*[[@{/admin/nieuwGroep/}]]*/;
                                    $(location).attr('href',url + $scope.groep.hoofdGroep.pk_id);
                                } catch(ex){
                                    $(location).attr('href',/*[[@{/admin/groepen}]]*/);
                                }
                            }).error( function() {
                                bootbox.alert("Error occured during save");
                            });
                        }
                    });

                    $scope.deleteGroep = (function(){
                        bootbox.confirm("Are you sure you want to delete this Groep?", function(result) {
                            if (result === true){
                                if ($scope.groep.negatief === true){
                                    $scope.groep.negatief = 1;
                                } else {
                                    $scope.groep.negatief = 0;
                                }
                                $http.post(/*[[@{/json/deleteGroep}]]*/, $scope.groep).success( function() {
                                    $(location).attr('href',/*[[@{/admin/groepen}]]*/);
                                }).error( function(){
                                    bootbox.alert("Error occured during delete");
                                });
                            }
                        });
                    });
                });
                /*]]>*/
            </script>
        </div>
    </body>
</html>
