<html layout:decorate="views/layout" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <body>
        <div layout:fragment="content">
            <div class="col-lg-12">
                <form class="form-horizontal" ng-submit="saveJobs()">
                    <div class="col-lg-1">
                        <input class="btn btn-primary" type="submit" value="Save"/>
                    </div>
                </form>
                <form class="form-horizontal" action="addGroups">
                    <div class="col-lg-1">
                        <input class="btn btn-primary" type="submit" value="Add Group"/>
                    </div>
                </form>
                <div class="col-lg-2">
                    <input data-provide="datepicker" autocomplete="off" data-date-format="mm/yyyy" class="datepicker form-control" id="beginDatum" placeholder="Select Month"
                           type="text" ng-model="Overview.month" />
                </div>
            </div>
            <table st-safe-src="bedragen" st-table="emptyBedragen" class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th ng-repeat="jobs in Overview.allJobsInJobsGroup[0].jobs">{{jobs.jobDay}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="allJobsInJobsGroup in Overview.allJobsInJobsGroup">
                        <td>{{allJobsInJobsGroup.name}}</td>
                        <td ng-repeat="jobs in allJobsInJobsGroup.jobs">
                            <input ng-style="jobsColor(jobs)" ng-dblclick="jobsDetails(jobs)"
                                class="form-control input-sm" placeholder=".input-sm" type="text" ng-model="jobs.workedHours"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="dialog" class="modal-dialog" title="Basic dialog">
                <table st-safe-src="bedragen" st-table="emptyBedragen" class="table table-hover ">
                    <tr><td>Remarks:</td><td><input type="text" ng_model="jobInfo.remarks"/></td></tr>
                    <tr><td>Percentage:</td><td><input type="text" ng_model="jobInfo.percentage"/></td></tr>
                    <tr ng-repeat="tickedJob in jobInfo.tickedJobsDetail.tickedJobs">
                        <td>Ticked {{tickedJob.started == true ? "In" : "Out"}}</td><td>{{tickedJob.ticked}}</td>
                    </tr>
                    <tr><td>Total hours worked: </td><td>{{convertDate(jobInfo.tickedJobsDetail.actualWorked)}}</td></tr>

                    <tr><td colspan="2"><b>Vat Compensations</b></td></tr>
                    <tr ng-repeat="vatCompensation in jobInfo.tickedJobsDetail.jobVatCompensations">
                        <td colspan="2">
                            <div class="col-lg-5">
                                {{vatCompensation.vatCompensation.name}}
                            </div>
                            <div class="col-lg-3">
                                {{vatCompensation.amount}}
                            </div>
                            <div class="col-lg-2">
                                <a th:href="@{/json/fetch_vat_compensation_document/{{vatCompensation.pkId}}}">download</a>
                            </div>
                            <div class="col-lg-2">
                                <a ng-click="deleteVatCompensation(vatCompensation)">delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2">
                        <div class="col-lg-4">
                            <select class="form-control" ng-model="jobInfo.vatcompensation.jobVatCompensation"
                                    ng-options="vatCompensation.name for vatCompensation in vatCompensations track by vatCompensation.pkId">
                                <option value="">-- No Vat Compensation --</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <input class="form-control" id="amount" placeholder="Amount" type="text" ng-model="jobInfo.vatcompensation.amount" />
                        </div>
                        <div class="col-lg-4">
                            <input class="col-lg-4" name="file" id="file" type="file" ng-model="jobInfo.vatcompensation.image" accept="image/*" app-filereader />
                        </div>
                        <div class="col-lg-2">
                            <input id="VatCompensationFile" class="btn btn-primary" type="button" ng-click="saveJobInfo(jobInfo.vatcompensation)" value="Add"/>
                        </div>
                    </td></tr>
                </table>
            </div>

            <div id="dialogInvoiceBuilder" class="modal-dialog" title="Basic dialog">
                <div class="col-lg-12">
                    <label for="inputInvoiceId" class="col-lg-4 control-label">Invoice Id</label>
                    <div class="col-lg-8">
                        <input class="form-control" id="inputInvoiceId" ng-model="invoiceBuilder.invoiceId" placeholder="Invoice Id" type="text"/>
                    </div>
                </div>
            </div>

            <div id="overtimeHours" title="Overtime Hours">
                <table st-safe-src="overtimeHours" st-table="emptyOvertimeHours" class="table table-hover">
                    <tr ng-repeat="tickedOverview in tickedOverviewDetails">
                        <td>Project: </td><td>{{tickedOverview.key.name}}</td>
                        <td>Overtime in minutes: </td><td>{{convertDate(tickedOverview.value.actualWorked - tickedOverview.value.timesheetWorked)}}</td>
                        <td><a th:href="@{/timesheets/printTimesheet?jobsGroupId={{tickedOverview.key.pk_id}}&amp;month={{tempSelectMonth}}}">Print PDF</a></td>
                        <td><a ng-click="startInvoiceBuilder(tickedOverview.key.pk_id)">Invoice Builder</a></td>
                    </tr>
                </table>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                $(function() {
                    $( "#dialog" ).hide();
                    $( "#dialogInvoiceBuilder" ).hide();
                });

                $(".datepicker").datepicker( {
                    format: "mm/yyyy",
                    viewMode: "months",
                    minViewMode: "months"
                });
                app.controller("fController", function($scope, $http) {
                    $scope.convertDate = function(seconds){
                        if (seconds < 0){
                            return "-" + new Date().clearTime().addSeconds(seconds * -1).toString('H:mm:ss');
                        } else {
                            return new Date().clearTime().addSeconds(seconds).toString('H:mm:ss');
                        }
                    }

                    $scope.invoiceBuilder = {
                        invoiceId: ""
                    }

                    var url = /*[[@{/json/vatCompensation}]]*/
                    $http.get(url).success( function(data){ $scope.vatCompensations = data; });

                    $http.post(/*[[@{/json/fetch_overview}]]*/).success(function(data){
                          $scope.Overview = data;
                          $scope.tempSelectMonth = data.month;

                          $http.post(/*[[@{/json/ticket_overview_month}]]*/, $scope.Overview.month).success(function(data, status){
                                if (status == 200) {
                                    $scope.tickedOverviewDetails = data;
                                }
                            });
                    });

                    $scope.startInvoiceBuilder = function(groupId){
                        $scope.invoiceBuilder.groupId = groupId;
                        $scope.invoiceBuilder.month = $scope.Overview.month;
                        $('#dialogInvoiceBuilder').dialog({
                            title: "Invoice Builder",
                            width: 500,
                            buttons: { "OK": function() {
                                $http.post(/*[[@{/json/invoice_builder}]]*/, $scope.invoiceBuilder).success(function(data){
                                    $( "#dialogInvoiceBuilder" ).dialog("close");
                                    if (data.status == 500) bootbox.alert(data.message);
                                });
                            }}
                        }).prev(".ui-dialog-titlebar").css("background","#bf3e11");
                    }

                    $scope.saveJobs = function(){
                        $http.post(/*[[@{/json/save_jobs_overview}]]*/, $scope.Overview).success(function(data){
                            $scope.Overview = data;
                            $http.post(/*[[@{/json/ticket_overview_month}]]*/, $scope.Overview.month).success(function(data, status){
                                if (status == 200) $scope.tickedOverviewDetails = data;
                            });
                        });
                    }

                    $scope.$watchCollection('Overview.month', function(newValue, oldValue){
                        if (newValue !== undefined && newValue !== $scope.tempSelectMonth){
                            $http.post(/*[[@{/json/set_month}]]*/, $scope.Overview.month);
                            $http.post(/*[[@{/json/fetch_month}]]*/, $scope.Overview.month).success(function(data){
                                $scope.Overview = data;
                            });
                            $http.post(/*[[@{/json/ticket_overview_month}]]*/, $scope.Overview.month).success(function(data, status){
                                if (status == 200) $scope.tickedOverviewDetails = data;
                            });
                            $scope.tempSelectMonth = $scope.Overview.month;
                        }
                    });

                    $scope.jobsDetails = function(jobs){
                        $scope.jobInfo = jobs;
                        $scope.jobInfo.vatcompensation = {};
                        $scope.jobInfo.vatcompensation.jobId = jobs.pk_id;
                        $scope.jobInfo.vatcompensation.jobVatCompensation = null;
                        $scope.jobInfo.vatcompensation.amount = 0;

                        $('#dialog').dialog({
                            title: "Job Details",
                            width: 1000,
                            buttons: { "OK": function() { $(this).dialog("close"); } }
                        }).prev(".ui-dialog-titlebar").css("background","#bf3e11");
                    }

                    $scope.jobsColor = function(jobs){
                        if (!(jobs.remarks === '' || jobs.remarks === null) || (jobs.tickedJobsDetail && jobs.tickedJobsDetail.jobVatCompensations && jobs.tickedJobsDetail.jobVatCompensations.length > 0)){
                            return { 'background-color': '#bf3e11' }
                        }

                        if (jobs.weekendDay === true){
                            return { 'background-color': 'grey' };
                        }
                    }

                    $scope.printPDF = function(jobsGroup){
                        $http.get(/*[[@{/timesheets/printTimesheet}]]*/, jobsGroup, $scope.Overview.month);
                    }

                    $scope.saveJobInfo = function(vatCompensation){
                        $http.post(/*[[@{/json/job_vat_compensation}]]*/, vatCompensation).success(function(data) {
                            $scope.Overview = data;
                            angular.forEach($scope.Overview.allJobsInJobsGroup, function(jobInJobsGroup){
                                angular.forEach(jobInJobsGroup.jobs, function(jobs){
                                    if (jobs.pk_id == vatCompensation.jobId){
                                        $scope.jobInfo = jobs;
                                        $scope.jobInfo.vatcompensation = {};
                                        $scope.jobInfo.vatcompensation.jobId = jobs.pk_id;
                                        $scope.jobInfo.vatcompensation.jobVatCompensation = null;
                                        $scope.jobInfo.vatcompensation.amount = 0;
                                        $scope.jobInfo.vatcompensation.image = vatCompensation.image; // file can not be reset with js keep the model in sync!
                                    }
                                });
                            })
                        });
                    }
                    $scope.deleteVatCompensation = function(vatCompensation){
                        $http.post(/*[[@{/json/delete_job_vat_compensation}]]*/, vatCompensation).success(function(data) {
                            $scope.Overview = data;
                            angular.forEach($scope.Overview.allJobsInJobsGroup, function(jobInJobsGroup){
                                angular.forEach(jobInJobsGroup.jobs, function(jobs){
                                    if (jobs.pk_id == vatCompensation.job.pk_id){
                                        $scope.jobInfo = jobs;
                                        $scope.jobInfo.vatcompensation = {};
                                        $scope.jobInfo.vatcompensation.jobId = jobs.pk_id;
                                        $scope.jobInfo.vatcompensation.jobVatCompensation = null;
                                        $scope.jobInfo.vatcompensation.amount = 0;
                                        $scope.jobInfo.vatcompensation.image = vatCompensation.image; // file can not be reset with js keep the model in sync!
                                    }
                                });
                            })
                        });
                    }
                });
                /*]]>*/
            </script>
        </div>
    </body>
</html>
