<html layout:decorate="views/layout" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <body>
        <div layout:fragment="content">
            <div class="col-lg-12">
                <form class="form-horizontal" action="editCostType">
                    <div class="col-lg-1">
                        <input class="btn btn-primary" type="submit" value="New Business Form"/>
                    </div>
                </form>
            </div>
            <div class="col-lg-12">
                <table st-safe-src="costTypes" st-table="tableCostTypes" class="table table-striped table-hover ">
                <thead>
                  <tr>
                      <td></td>
                      <th st-sort="costType">Cost Type</th>
                      <th st-sort="level">Level</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="costType in tableCostTypes">
                            <td><a href="editCostType/{{costType.pkId}}">Edit</a></td>
                            <td>{{costType.type}}</td>
                            <td>{{costType.level}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-center">
                                <div st-pagination="" st-items-by-page="100" st-displayed-pages="100"></div>
                        </td>
                    </tr>
                </tfoot>
                </table>
            </div>
            <script th:inline="javascript">
                app.controller("fController", function($scope, $http) {
                    $http.get(/*[[@{/json/governmentCostTypes}]]*/).success( function(data){
                        $scope.costTypes = data;
                    });
                });
            </script>
        </div>
    </body>
</html>
