<html layout:decorator="views/layout" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <body>
        <div layout:fragment="content">
            <div class="col-lg-3">
                <a ng-href="/json/generateAccountingZip?startDate={{model.startDate}}&endDate={{model.endDate}}">
                    <input class="col-lg-12 btn btn-primary" type="button" value="Genereate Accounting Zip"/>
                </a>
            </div>
            <div class="col-lg-3">
                <a ng-href="/json/fetch_vat_compensation_pdf?startDate={{model.startDate}}&endDate={{model.endDate}}">
                    <input class="col-lg-12 btn btn-primary" type="button" value="Genereate Vat Compensation Pdf"/>
                </a>
            </div>
            <div class="col-lg-12">
                <label for="beginDatum" class="col-lg-1 control-label">Start Date</label>
                <div class="col-lg-2">
                    <input autocomplete="off" data-provide="datepicker" data-date-format="yyyy-mm-dd" class="form-control" id="beginDatum" placeholder="Start Date"
                           type="text" ng-model="model.startDate" />
                </div>
                <label for="eindDatum" class="col-lg-1 control-label">End Date</label>
                <div class="col-lg-2">
                    <input autocomplete="off" data-provide="datepicker" data-date-format="yyyy-mm-dd" class="form-control" id="eindDatum" placeholder="End Date"
                           type="text" ng-model="model.endDate" />
                </div>
            </div>
            <script th:inline="javascript">
                app.controller("fController", function($scope, $http) {
                    $scope.model = {
                        startDate: null,
                        endDate: null
                    }
                    $scope.fetch_accounting_model = (function(){
                        var url_accounting_model = /*[[@{/json/generateAccountingModel}]]*/;
                        $http.post(url_accounting_model + "?startDate=" + $scope.model.startDate + "&endDate=" + $scope.model.endDate, $scope.simulatedBusinessCost).success( function(data){
                            $scope.accountingModel = data;
                        });
                        var url_accountingModelTotal = /*[[@{/json/generateAccountingModelTotal}]]*/;
                        $http.post(url_accountingModelTotal + "?startDate=" + $scope.model.startDate + "&endDate=" + $scope.model.endDate, $scope.simulatedBusinessCost).success( function(data){
                            $scope.accountingModelTotal = data;
                        });
                    });
                });
            </script>
        </div>
    </body>
</html>
