<html layout:decorator="views/layout" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <body>
        <div layout:fragment="content">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <form class="form-horizontal" ng-submit="retrieveYear()">
                        <input class="btn btn-primary" type="submit" value="Retrieve Yaer"/>
                    </form>
                </div>
                <div class="col-lg-2">
                    <a class="btn btn-primary"  href="accountingCodes/{{model.startDate}}">Account Codes</a>
                </div>
            </div>

            <div class="col-lg-12">
                <label for="year" class="col-lg-1 control-label">Year</label>
                <div class="col-lg-2">
                    <input autocomplete="off" data-provide="datepicker" data-date-format="yyyy" class="datepicker form-control" id="year" placeholder="Start Date"
                           type="text" ng-model="model.startDate" />
                </div>
            </div>

            <div class="container-fluid d-flex h-100 flex-column">
                <div class="col-lg-4">
                    <h2>Omzet</h2>
                    <table id="accordionOmzet" st-safe-src="financialValues['Omzet']['values']" st-table="emptyFinancialOmzetValues" class="table table-striped table-hover ">
                        <tbody ng-repeat="(key, value) in emptyFinancialOmzetValues">
                            <tr>
                                <td>
                                    <a class="collapsed card-link" data-toggle="collapse"  ng-click="toggle('accordionOmzet' + $index)" aria-expanded="false" aria-controls="{{ 'accordionOmzet' + $index }}">
                                        {{objectToEntry(value)[0]}}
                                    </a>
                                </td>
                                <td>{{objectToEntry(value)[1]}}</td>
                            </tr>
                            <tr class="collapse multi-collapse" id="{{ 'accordionOmzet' + $index }}" data-parent="#accordionOmzet">
                                <td colspan="2">
                                    <table class="table table-striped table-hover ">
                                        <tbody>
                                            <tr ng-repeat="detail in value.detail">
                                                <td><a ng-click="openAccountDetails(detail)">Open</a></td>
                                                <td>{{detail.description}}</td>
                                                <td>{{detail.sum}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr><td></td><td>{{financialValues['Omzet']['sum']}}</td></tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-lg-8" id="omzet"></div>
            </div>

            <div class="container-fluid d-flex h-100 flex-column">
                <div class="col-lg-4">
                    <h2>Bedrijfslasten</h2>
                    <table id="accordionBedrijfsLasten" st-safe-src="financialValues['Bedrijfslasten']['values']" st-table="emptyFinancialLastenValues" class="table table-striped table-hover ">
                        <tbody ng-repeat="(key, value) in emptyFinancialLastenValues" >
                            <tr>
                                <td>
                                    <a class="collapsed card-link" data-toggle="collapse"  ng-click="toggle('accordionBedrijfslasten' + $index)" aria-expanded="false" aria-controls="{{ 'accordionBedrijfslasten' + $index }}">
                                        {{objectToEntry(value)[0]}}
                                    </a>
                                </td>
                                <td>{{objectToEntry(value)[1]}}</td>
                            </tr>
                            <tr class="collapse multi-collapse" id="{{ 'accordionBedrijfslasten' + $index }}" data-parent="#accordionBedrijfslasten">
                                <td colspan="2">
                                    <table class="table table-striped table-hover ">
                                        <tbody>
                                        <tr ng-repeat="detail in value.detail">
                                            <td><a ng-click="openAccountDetails(detail)">Open</a></td>
                                            <td>{{detail.description}}</td>
                                            <td>{{detail.sum}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr><td></td><td>{{financialValues['Bedrijfslasten']['sum']}}</td></tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-lg-8" id="bedrijfslasten"></div>
            </div>

            <div class="container-fluid d-flex h-100 flex-column">
                <div class="col-lg-4">
                    <h2>Resultaten</h2>
                    <table class="table table-striped table-hover ">
                        <tbody>
                        <tr>
                            <td>Bedrijfsresultaat</td>
                            <td>{{financialValues['Resultaten']['Bedrijfsresultaat']}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr><td></td><td>{{financialValues['Resultaten']['sum']}}</td></tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-lg-8" id="resultaten"></div>
            </div>

            <div id="dialogAccountDetails" class="modal-dialog" title="Account Details">
                <div class="12">
                    <h3>{{accountDetails.description}}</h3>
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th/>
                            <th st-sort="datum">datum</th>
                            <th st-sort="bedrag">bedrag</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="accountDetail in accountDetails.details">
                            <td><a href="/finances/nieuwBedrag/{{accountDetail.bedragId}}">Open</a></td>
                            <td>{{accountDetail.datum}}</td>
                            <td>{{accountDetail.bedrag}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <script th:inline="javascript">
                $(".datepicker").datepicker( {
                    format: "yyyy",
                    viewMode: "years",
                    minViewMode: "years"
                });

                function drawChartOmzet(data) {
                    var dataGoogle = new google.visualization.DataTable();
                    dataGoogle.addColumn('string', 'Month');
                    dataGoogle.addColumn('number', 'Value');

                    $.each(data["Omzet"]["report"], function(key, value){
                        dataGoogle.addRow([key, value]);
                    });
                    var options = {width: 750, height: 300, hAxis: { title: 'Month' }, vAxis: { title: 'Value' } }
                    var chart = new google.visualization.ColumnChart(document.getElementById("omzet"));
                    chart.draw(dataGoogle, options);
                }

                function drawChartBedrijfslasten(data) {
                    var dataGoogle = new google.visualization.DataTable();
                    dataGoogle.addColumn('string', 'Lasten');
                    dataGoogle.addColumn('number', 'Value');

                    $.each(data["Bedrijfslasten"]["values"], function(){
                        if (Object.entries(this)[0][0] !== "detail"){
                            dataGoogle.addRow([Object.entries(this)[0][0], Object.entries(this)[0][1]]);
                        } else {
                            dataGoogle.addRow([Object.entries(this)[1][0], Object.entries(this)[1][1]]);
                        }
                    });
                    var options = {width: 750, height: 500, hAxis: { title: 'Lasten' }, vAxis: { title: 'Value' } }
                    var chart = new google.visualization.PieChart(document.getElementById("bedrijfslasten"));
                    chart.draw(dataGoogle, options);
                }

                function drawChartResultaten(data) {
                    var dataGoogle = new google.visualization.DataTable();
                    dataGoogle.addColumn('string', 'Month');
                    dataGoogle.addColumn('number', 'Value');

                    $.each(data["Resultaten"]["report"], function(key, value){
                        dataGoogle.addRow([key, value]);
                    });
                    var options = {width: 750, height: 300, hAxis: { title: 'Month' }, vAxis: { title: 'Value' } }
                    var chart = new google.visualization.ColumnChart(document.getElementById("resultaten"));
                    chart.draw(dataGoogle, options);
                }

                app.controller("fController", function($scope, $http) {
                    $(function() {
                        $( "#dialogAccountDetails" ).hide();
                    });

                    $scope.model = {
                        startDate: 2021
                    }

                    $scope.toggle = function(id){
                        if ($("#" + id).hasClass("in")){
                            $("#" + id).removeClass("in");
                        } else {
                            $("#" + id).addClass("in");
                        }
                    }

                    $scope.objectToEntry = function(value){
                        if (value){
                            if (Object.entries(value)[0][0] !== "detail"){
                                return Object.entries(value)[0];
                            } else {
                                return Object.entries(value)[1];
                            }
                        }
                    }

                    var url_financial_year = /*[[@{/json/accounting/monthlyValues/}]]*/;
                    $http.get(url_financial_year + $scope.model.startDate).success( function(data){
                        $scope.financialValues = data;
                        drawChartOmzet(data);
                        drawChartBedrijfslasten(data);
                        drawChartResultaten(data);
                    });

                    $scope.openAccountDetails = function(details){
                        $scope.accountDetails = details;
                        $('#dialogAccountDetails').dialog({
                            title: "Account Details",
                            width: 1000,
                            buttons: { "Ok": function() {
                                    $( "#dialogAccountDetails" ).dialog("close");
                                }}
                        }).prev(".ui-dialog-titlebar").css("background","#bf3e11");
                    }

                    $scope.retrieveYear = function(){
                        var url_financial_year = /*[[@{/json/accounting/monthlyValues/}]]*/;
                        $http.get(url_financial_year + $scope.model.startDate).success( function(data){
                            $scope.financialValues = data;
                            drawChartOmzet(data);
                            drawChartBedrijfslasten(data);
                            drawChartResultaten(data);
                        });
                    }
                });
            </script>
        </div>
    </body>
</html>
