<html layout:decorator="views/layout" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <body>
        <div layout:fragment="content">
            <div class="col-lg-12">
                <div class="col-lg-10">
                    <div class="col-lg-12">
                        <form class="form-horizontal col-lg-2">
                            <select id="rekening" class="form-control" ng-model="beheerBedragen.rekening"
                                    ng-options="rekening.naam for rekening in rekeningen track by rekening.pk_id">
                                <option value="">--Kies Rekening--</option>
                            </select>
                        </form>
                        <form class="form-horizontal col-lg-2" action="nieuwBedrag">
                            <input class="btn btn-primary" type="submit" value="Nieuw Bedrag"/>
                        </form>
                        <form class="form-horizontal col-lg-4" >
                            <label th:if="${@userInfo.invoiceType.type} != ${personal}" class="control-label">Show Only No Documents</label>
                            <input th:if="${@userInfo.invoiceType.type} != ${personal}"
                                   ng-model="showNoDocuments" type="checkbox" name="noDocuments"
                                   ng-change="showNoDocumentsChange(showNoDocuments)">
                        </form>
                    </div>
                    <div class="col-lg-12">
                        <div class="row col-lg-12" style="margin-top:20px;">
                            <input class="form-control" placeholder="Search" type="text" ng-model="beheerBedragen.zoekOpdracht"/>
                        </div>
                        <table st-safe-src="bedragen" st-table="emptyBedragen" class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th st-sort="rekening">Rekening</th>
                                    <th st-sort="type_groep">Type Groep</th>
                                    <th st-sort="persoon">Persoon</th>
                                    <th st-sort="bedrag">Bedrag</th>
                                    <th st-sort="datum">Datum</th>
                                    <th st-sort="omschrijving">Omschrijving</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="bedrag in emptyBedragen" ng-class="{'text-danger': bedrag.validForAccountancy == false, 'text-warning': bedrag.processed != true}">
                                    <td><a href="nieuwBedrag/{{bedrag.pk_id}}">Edit</a></td>
                                    <td>{{bedrag.rekening}}</td>
                                    <td>{{bedrag.type_groep}}</td>
                                    <td>{{bedrag.persoon}}</td>
                                    <td>{{bedrag.bedrag}}</td>
                                    <td>{{bedrag.datum}}</td>
                                    <td>{{bedrag.omschrijving}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <form ng-show="showPrevious === true" ng-submit="previousBedrag()">
                                            <input class="btn btn-primary" type="submit" value="Vorige"/>
                                        </form>
                                    </td>
                                    <td>
                                        <form ng-show="showNext === true" ng-submit="nextBedrag()">
                                            <input class="btn btn-primary" type="submit" value="Volgende"/>
                                        </form>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-lg-2">
                    <table st-safe-src="rekeningen" st-table="emptyRekeningen" class="table table-striped table-hover ">
                        <thead>
                            <th>Naam</th>
                            <th>Waarde</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rekening in rekeningen">
                                <td>{{rekening.naam}}</td>
                                <td>{{rekening.waarde}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td><b>{{rekeningenTotaal.totaal}}</b></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <script th:inline="javascript">
                app.controller("fController", function($scope, $http) {
                    $http.post(/*[[@{/json/fetch_beheer_bedragen}]]*/).success(function(data){
                        $scope.beheerBedragen = data;
                    });

                    $scope.filterReport = {
                        searchTekst: ""
                    }

                    $http.get(/*[[@{/json/openRekeningen}]]*/).success(function(data){
                        $scope.rekeningenTotaal = data;
                        $scope.rekeningen = $scope.rekeningenTotaal.rekeningen;
                    });

                    $scope.nextBedrag = function(){
                        $scope.beheerBedragen.offset++;
                    }

                    $scope.previousBedrag = function(){
                        $scope.beheerBedragen.offset--;
                    }

                    $scope.showNoDocumentsChange = function(showNoDocuments){
                        if (showNoDocuments){
                            $scope.beheerBedragen.minimumDocuments = 0;
                        } else {
                            $scope.beheerBedragen.minimumDocuments = 999;
                        }
                    }

                    $scope.$watchCollection('beheerBedragen', function(newValue, oldValue){
                        if (newValue !== oldValue){
                            var res = $http.post(/*[[@{/json/fetch_bedragen}]]*/, $scope.beheerBedragen);
                            res.success(function(data){
                               $scope.showNext = data.showNext;
                               $scope.showPrevious = data.showPrevious;
                               $scope.bedragen = data.beheerBedragenReport;

                               if ($scope.showPrevious===false){
                                   $scope.beheerBedragen.offset = 0;
                               }
                            });
                        }
                    });

                    $scope.itemsByPage = 10;
                });
            </script>
        </div>
    </body>
</html>
