<html layout:decorator="views/layout" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <body>
        <div layout:fragment="content">
            <div class="col-lg-2" ng-show="document.id !== ''" >
                <form ng-submit="deleteDocument()">
                     <input class="col-lg-6 btn btn-primary" type="submit" value="Delete"/>
                </form>
            </div>
            <form action="#" class="form-horizontal" method="post" th:action="@{/finances/nieuwBedragDocument/saveDocument}" th:object="${document}" enctype="multipart/form-data">
                <div class="col-lg-2">
                    <input class="col-lg-6 btn btn-primary" value="Save" type="submit"/>
                </div>
                <div>
                   <input type="hidden" path="pkId" th:field="*{pkId}"/>
                </div>
                <div class="col-lg-12">
                   <input type="hidden" path="bedragId" th:field="*{bedragId}"/>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="col-lg-2">Prio</div>
                        <input class="col-lg-4"  path="Prioriteit" th:field="*{prio}" />
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-2">Omschrijving</div>
                       <textarea class="col-lg-4"  path="omschrijving" th:field="*{omschrijving}"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <input class="col-lg-1" name="file" id="file" type="file"/>
                    </div>
                </div>
            </form>
            <br/>
            <br/>
            <div class="col-lg-12" style="margin-top: 100px;">
                <table st-safe-src="documentProviderDocuments" st-table="emptyDocumentProviderDocuments" class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th></th>
                        <th st-sort="documentProvider">Document Provider</th>
                        <th st-sort="feedback">Feedback</th>
                        <th st-sort="dateSent">Date Sent</th>
                        <th/>
                        <th/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="documentProviderDocument in emptyDocumentProviderDocuments">
                        <td><a th:href="@{/documentprovider/deleteDocumentProviderDocument?documentProviderDocumentId={{documentProviderDocument.pkId}}}">Delete</a></td>
                        <td>{{documentProviderDocument.documentProvider.name}}</td>
                        <td>{{documentProviderDocument.feedback}}</td>
                        <td>{{documentProviderDocument.dateSent}}</td>
                        <td><a ng-click="udpateFeedback(documentProviderDocument)">Update Feedback</a></td>
                        <td><a ng-click="">Update Accounting</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="dialogSecurityKeys" class="modal-dialog" title="Basic dialog">
                <div class="col-lg-12">
                    <label for="cookie" class="col-lg-4 control-label">Cookie</label>
                    <div class="col-lg-8">
                        <input class="form-control" id="cookie" ng-model="securityKeys.cookie" placeholder="Cookie" type="text"/>
                    </div>
                </div>
                <div class="col-lg-12">
                    <label for="cookie" class="col-lg-4 control-label">Cookie</label>
                    <div class="col-lg-8">
                        <input class="form-control" id="cookie" ng-model="securityKeys.userAgent" placeholder="User Agent" type="text"/>
                    </div>
                </div>
            </div>

            <div id="dialogChooseDPDocument" class="modal-dialog" title="Basic dialog">
                <div class="12">
                    <table st-safe-src="dpdocuments.data" st-table="emptyDpdocuments" class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th></th>
                            <th st-sort="description">Description</th>
                            <th st-sort="date">Date</th>
                            <th st-sort="amount">Amount</th>
                            <th/>
                            <th/>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dpdocument in emptyDpdocuments">
                            <td><a ng-click="udpateGuidFeedback(dpdocuments.documentProviderDocument, dpdocument.guid)">Update Feedback</a></td>
                            <td>{{dpdocument.description}}</td>
                            <td>{{dpdocument.date}}</td>
                            <td>{{dpdocument.amount}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <script th:inline="javascript">
                $(function() {
                    $( "#dialogSecurityKeys" ).hide();
                    $( "#dialogChooseDPDocument" ).hide();
                });

                app.controller("fController", function($scope, $http) {
                    $scope.securityKeys = {
                        cookie: ""
                    };
                    $scope.document = {
                        pkId: /*[[${document.pkId}]]*/,
                        bedragId: /*[[${bedragId}]]*/,
                        omschrijving: /*[[${document.omschrijving}]]*/,
                        prio: /*[[${document.prio}]]*/,
                        datum: ''

                    };

                    var url =/*[[@{/documentprovider/documents?documentId=}]]*/;
                    $http.get(url + $scope.document.pkId).success( function(data){
                       $scope.documentProviderDocuments = data;
                    });

                    $scope.udpateGuidFeedback = (function(documentProviderDocument, guid){
                        var url =/*[[@{/json/documentProvider/updateFeedback/}]]*/;
                        $http({
                            method: 'GET',
                            url: url + documentProviderDocument.pkId + "/" + guid
                        }).then(function successCallback(data) {
                            $scope.documentProviderDocuments = data.data;
                            $( "#dialogChooseDPDocument" ).dialog("close");
                        });
                    });

                    $scope.udpateFeedback = (function(documentProviderDocument){
                        var url =/*[[@{/json/documentProvider/updateFeedback/}]]*/;
                        $http({
                            method: 'GET',
                            url: url + documentProviderDocument.pkId
                        }).then(function successCallback(data) {
                            if(data.status === 500){
                                $('#dialogSecurityKeys').dialog({
                                    title: "Enter Security Keys",
                                    width: 500,
                                    buttons: { "OK": function() {
                                            var url =/*[[@{/json/documentProvider/updateSecurityKeys}]]*/;
                                            $http.post(url, $scope.securityKeys).error( function(){
                                                bootbox.alert("Error occured during setting security keys");
                                            }).success( function (){
                                                $( "#dialogSecurityKeys" ).dialog("close");
                                            });
                                        }}
                                }).prev(".ui-dialog-titlebar").css("background","#bf3e11");
                            } else {
                                $scope.dpdocuments = {};
                                $scope.dpdocuments.data = data.data;
                                $scope.dpdocuments.documentProviderDocument = documentProviderDocument;

                                $('#dialogChooseDPDocument').dialog({
                                    title: "Choose DP Document",
                                    width: 1000,
                                    buttons: { "Cancel": function() {
                                        $( "#dialogChooseDPDocument" ).dialog("close");
                                    }}
                                }).prev(".ui-dialog-titlebar").css("background","#bf3e11");
                            }
                        });
                    });

                    $scope.deleteDocument = (function(){
                         bootbox.confirm("Are you sure you want to delete this Document?", function(result) {
                            if (result === true){
                                $http.post(/*[[@{/json/delete_document}]]*/, $scope.document).success( function() {
                                    var loc = /*[[@{/finances/nieuwBedrag/}]]*/;
                                    $(location).attr('href',loc + $scope.document.bedragId);
                                }).error( function(){
                                  bootbox.alert("Error occured during delete");
                                });
                            }
                        });
                    });
                });
            </script>
        </div>
    </body>
</html>
