<div class="navbar navbar-default">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">Finances <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="overview">Overview</a></li>
              <li><a href="overzichtPerGroep">Overzicht Per Groep</a></li>
              <li><a href="#">Maand Overzicht</a></li>
              <li><a href="#">Beheer Bedragen</a></li>
              <li><a href="#">Documenten</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<c:url value="/j_spring_security_logout" />" > Logout</a></li>
        </ul>
    </div>
</div>